@model BusinessLayer.SearchModel;

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    <form asp-controller="Employee" asp-action="Index">

        search term: <input type="search" asp-for="Search" />
        <select class="select-site" asp-for="StateId" asp-items="@(new SelectList(Model.ListStates, "StateId", "StateName"))">
            <option value="0"> Select State </option>
        </select>
        <select class="select-site" asp-for="DistrictId" asp-items="@(new SelectList(Model.districts, "DistrictId", "DistrictName"))">
            <option value="0"> city </option>
        </select>
        <input type="submit" value="Filter" />
        <input type="button" value="delete" id="btndelete"  />
       
    </form>
</p>
<table class="table" style="background-color:burlywood" >
    <thead>
        <tr>
            <th>
                
                EmployeeId
            </th>
            <th>
                Name
            </th>
            <th>
                Email
            </th>
            <th>
                MobileNo
            </th>
            <th>
                Gender
            </th>
            <th>
                Salary
            </th>
            <th>
                Hobbie
            </th>
            <th>
                State
            </th>
            <th>
                city
            </th>
            <th>
                Image
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.List) {
        <tr>
            <td>
               <input type="checkbox" name="Id" /> @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MobileNo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salary)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hobbie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StateName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistrictName)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.Imagepath))
                {
                    <img src="http://localhost:49987/image/@item.Imagepath" height="50" width="80" />
                }
            </td>
            <td>
                  @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                <i class="bi bi-trash-fill"></i>  @Html.ActionLink("Delete","Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
